<!--Shipping & Free Returns-->
<div class="data item content" id="product.shipping" data-role="content" aria-labelledby="tab-label-product.shipping"
     role="tabpanel" aria-hidden="false" style="display: block;">
    <div class="shipping-info">
        <div><p><span class="lead-time-message"><?= __('Available for immediate dispatch.') ?></span></p>
            <p><span class="lead-time-configurable-hint"></span></p>
            <p><?= __('Standard shipping worldwide from $10.95.') ?></p>
            <p><?= __('Free returns within 6 months.') ?></p>
            <p><?= __('For complete details, read our') ?><strong><a title="Shipping Policy"
                                                                     href="delivery-information"><?= __('Shipping') ?></a></strong> <?= __('and') ?>
                <strong><a title="Returns Policy"
                           href="returns-policy"><?= __('Return') ?></a></strong> <?= __('policies.') ?>
            </p></div>
    </div>
</div>
