<!--Size_chart_popup_tabs-->
<div>
    <a class="size_chart"><?= __('Size chart') ?></a>
        <div class="popupcontent">
            <?= $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('Size_chart')
                ->toHtml();
            ?>
        </div>
</div>

<script type="text/x-magento-init">
{
    ".size_chart": {
        "SizeChartjs": {}
    }
}
</script>
