<!--Why_we_love_it_scrollTop.phtml-->
<div class="we_love_content">
    <?= $this->getLayout()
        ->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('why_we_love_it')
        ->toHtml();
    ?>
</div>

<button class="wy_we_love_it"
        onclick="require(['jquery'],
        function($) {
            $('html, body').animate({scrollTop: 0},
            );
        });">
    <span><?= __('Get Yours Today') ?></span>
</button>
