// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Typography
//  _____________________________________________


.lib-font-face(
    @family-name: @font-family-name__base,
    @font-path: '@{baseDir}fonts/Roboto/Roboto-Regular',
    @font-style: normal,
    @font-weight: 300,
    @font-display: swap
);
/*
.lib-font-face(
    @family-name: @font-family-name__base,
    @font-path: '@{baseDir}fonts/Open_Sans/opensans-400',
    @font-style: normal,
    @font-weight: 300,
    @font-display: swap
);*/

/*.lib-font-face(
    @family-name,
    @font-path,
    @font-format: false,
    @font-weight: normal,
    @font-style: normal,
    @font-display: auto
) when (@font-format = false) {
    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.woff2') format('woff2'),
        url('@{font-path}.woff') format('woff');
        font-weight: @font-weight;
        font-style: @font-style;
        font-display: @font-display;
    }
}}*/

//
//  All typography
//  ---------------------------------------------

//  Headings (later, need add for variable)
//
h1 {
    font-size: x-large;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 2px;
    margin-top: 0;
}
