// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Buttons variables

/*font-size*/
@l: 14px;

/*font-color*/
@white: white;
//  _____________________________________________

//
//  Buttons
//  ---------------------------------------------

//  Default = secondary button

//  First banner button


.First_banner_button {

    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding: 0 26% 0 26%;
    /* position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);*/
    & a {
        margin-top: 15px;
        padding: 8px 20px;
         background-color: #fff;
         color: #000;
        text-decoration: none;
        transition: background-color 0.4s ease;
        .lib-button-primary(
            @_button-font-size: 14px;
            @_button-padding: 8px 20px;
            @_button-color: #000;
            @_button-background: #fff;
        )
    }

   }

    //  category buttons
    .category_buttons {
        display: flex;
        justify-content: space-around;
        margin-top: -18%;
        padding: 0 25% 15% 25%;

        & a {
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid #e0e1dd;
            padding: 11px 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: @white;
            font-size: @l;
        }
    }

    //  exc banner button
    .exc_banner_button a {
        box-shadow: none;
        background: @white;
        border: 1px solid #252c26;
        color: #252c26;
        padding: 11px 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: @l;

        &:hover {
            border: 1px solid rgba(37, 44, 38, .5);
            color: rgba(37, 44, 38, .5);
        }
    }

    //  exc button
    .exc_button {
        display: flex;
        justify-content: center;
        /*position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 34%;*/

        a {
            margin-top: 15px;
            padding: 8px 35px;
            background-color: #fff;
            color: #000;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
            letter-spacing: 1px;
            display: inline-block;
            border: 0;
            line-height: inherit;
            border-radius: 0;
        }
    }

    //  Large button
    @button__font-size__l: @font-size__l;
    @button__line-height__l: @font-size__l + 4;
    @button__padding__l: 14px 17px;

    //  Small button
    @button__font-size__s: 11px;
    @button__line-height__s: @button__font-size__s + 1;
    @button__padding__s: @indent__xs 8px;

