// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Buttons variables

& when (@media-common = true) {

    //  _____________________________________________

    //
    //  Buttons
    //  ---------------------------------------------

    //  Default = secondary button

    //  Button ADD TO CART

    .product-options-bottom {
        .box-tocart {
            .action.tocart {
                .lib-button-primary(
                    @_button-padding: 8px 20px 8px;
                    @_button-color: @white;
                    @_button-background: #fff;
                    @_button-width: 60%;
                );
                background-color: #22505f;
                border: 1px solid #22505f;
                text-transform: uppercase;
                cursor: pointer;
                vertical-align: top;
                font-weight: 700;
                line-height: 10px;
                letter-spacing: 1.5px;

                &:hover {
                    background: #22505f;
                    text-decoration: none;
                }

                & span:after {
                    content: url('@{baseDir}images/tocart.svg');
                    margin-left: 10px;
                }
            }
        }
    }


    button {
        &.wy_we_love_it {
            .lib-button-primary(
                @_button-padding: 12px 30px;
                @_button-color: @white;
                @_button-background: #22505f;
                @_button-width: 50%;
            );
            font-size: @l;
            text-align: center;
            display: block;
            border: 1px solid #22505f;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            box-shadow: unset;
            margin: 0 auto;
            &:hover {
                background-color: #22505f;
            }
            &:active {
                background: #22505f;
            }
            &:focus {
                background: #22505f;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
 /*   .product-options-bottom {
        .box-tocart {
            .action.tocart {
                width: 100%;
            }
        }
    }*/
    button#product-addtocart-button {
        width: 100%;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
/*  .product.data.items {
          .lib-data-tabs__base ();

      }*/
}
