@urls-resolved: true;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    @l: 14px;
    @xl: 16px;
    @xxl: 18px;
    @xxxl: 24px;
    /*font-size*/

    @white: white;
    @grey: #e0e1dd;
    @black: #252c26;
    /*font-color*/

    body {
        /*  background-image: url("@{url}");
          .lib-url('images/2.png', 'Magento_Theme');
          background:url("@{baseDir}images/2.png");*/
        /*
        background: url('@{baseDir}/Magento_Theme::images/2.png');

        */
    }

    .sections.nav-sections {
        margin-bottom: 0;
    }

    .widget.block.block-static-block {
        margin-bottom: 20px;
    }

    .block.widget.block-products-list.grid {
        margin-bottom: 20px;
    }

    .columns .column.main {
        padding-bottom: 20px;
    }

    a.extended {
        font-weight: 700;
    }

    .First_banner {
        position: relative;
        text-align: center;
        width: 100vw;
        margin-left: -50vw;
        height: 100%;
        left: 50%;

        img {
            display: block;
            width: 100%;
        }

        &_text {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &_1 {
                font-family: Times, serif;
                color: @white;
                font-size: 50px;
                line-height: 50px;
                font-weight: 300;
                text-shadow: 0 0 30px #000;

            }

            &_2 {
                text-align: center;
                font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
                color: #ffffff;
                font-size: @xxxl;
                line-height: 26px;
                font-weight: 500;
                text-shadow: 0 0 22px #000, 0 0 8px #000;

            }
        }

        /* &_button {
             display: flex;
             justify-content: space-around;
             margin-top: 5%;
             padding: 0 26% 0 26%;
             !* position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);*!

            !* & a {
                 !*
                 .First_button;
                 *!
                 !*margin-top: 15px;
                 padding: 8px 20px;
                 background-color: #fff;
                 color: #000;
                 text-decoration: none;
                 transition: background-color 0.4s ease;*!
             }*!
         }*/
    }

    .strap {
        &-main-container {
            position: relative;
            left: 50%;
            right: 50%;
            display: flex;
            width: 100vw;
            margin-right: -50vw;
            margin-left: -50vw;
            padding: 10px 10px;
            justify-content: center;
            align-items: center;
            background-color: #252525;
            color: #252c26;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        &-image-icon {
            display: block;
            width: 18px;
            max-width: 100%;
        }

        &-text {
            padding-right: 20px;
            padding-left: 20px;
            font-family: Arkhip, 'Helvetica Neue', Helvetica, sans-serif;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            text-align: center;
        }
    }

    .free {
        display: flex;
        justify-content: space-around;
    }

    .usp {
        background-color: #e0e1dd;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 0;
    }

    .tis-row.usp {
        display: flex;
        justify-content: space-around;

        & a {
            color: #020202;
        }
    }

    .usp {
        padding-right: 7px;
        position: relative;
        top: 1px;
    }

    .usp .shipping-icon, .usp .shopping-icon, .usp .review-icon {
        float: left;
        padding-right: 10px;
        top: 2px;
        position: relative;
    }

    .three_category {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;

        img {
            height: auto;
            max-width: 100%;
        }
    }

    .category {
        &_foto {
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
        }

        /*&_buttons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 40%;

           !* & a {
                .category_buttons;
                !* background: rgba(0, 0, 0, 0.5);
                 border: 1px solid #e0e1dd;
                 padding: 11px 20px;
                 text-transform: uppercase;
                 letter-spacing: 1px;
                 font-size: 1.5rem;
                 color: @white;*!
            }*!
        }*/
    }

    .ship_container {
        position: relative;
        display: flex;
        padding: 25px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/maps.png);
        background-position: 50% 50%;
        background-size: 620px;
    }

    .ship_header_text.ship_sub_text {
        display: block;
        color: #333;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .ship_header_text {
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: @black;
        font-size: @xxl;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.exc {
    &_banner {
        position: relative;
        padding-bottom: 5px;
        padding-top: 10px;

        &_all {
            position: relative;
        }
    }

    &_text {
        width: 300px;
        position: absolute;
        margin: 0;
        top: 60%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
}


.exc_text {

    &_heading {
        margin-bottom: 5px;
        color: #fff;
        font-size: 30px;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
        text-shadow: 2px 2px 9px #000;
    }

    &_sub {
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;
        text-shadow: 2px 2px 9px #000;
    }
}

/*.exc_button {
    display: flex;
    justify-content: center;
    !*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 34%;*!

    a {
        margin-top: 15px;
        padding: 8px 35px;
        background-color: #fff;
        color: #000;
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
        border: 0;
        line-height: inherit;
        border-radius: 0;
    }
}*/


/*.white {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background: none;
    border: none;
}

    a {
        box-shadow: none;
        background: #ad1717;
        border: 1px solid #252c26;
        color: #252c26;
        padding: 11px 20px;

        &:hover {
            border: 1px solid rgba(37, 44, 38, .5);
            color: rgba(37, 44, 38, .5);
        }

    }
}*/

.exc_banner {

    &_twwo {
        display: flex;
        justify-content: space-around;
    }

    &_second {
        text-align: center;
        box-sizing: border-box;
        width: 49.5%;

        /*&_alias {
            padding-left: 5px;
            padding-right: 5px;
        }*/

        & h3 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.products_line h4 {
    line-height: 0;
    border-bottom: 1px solid #c9cac8;
    text-align: center;
    margin-bottom: 40px;

    & strong {
        background-color: #fff;
        padding: 0 20px;
        font-weight: normal;
    }
}

h4 {
    font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*VIDEO*/
.video {
    padding: 30px 0 30px;
}

.video_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.video_block {
    font-family: 'Roboto', sans-serif;
    flex: 1 1 auto;
    margin: 20px 5px 0;
    text-align: center;
    min-width: 300px;
    width: 49%;
    overflow-y: hidden;
    padding-bottom: 20px;
}

.video_block-images {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    display: block;
    position: relative;

    &_play {
        box-shadow: 0 0 0 4px #000000;
        height: 38px;
        width: 38px;
        padding: 28px;
        border-radius: 50%;
        border: 3px solid #fff;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        z-index: 5;
    }
}

.video_block-images_play-triangle {
    width: 0;
    height: 0;
    background-color: transparent;
    margin-left: 6px;
    border-style: solid;
    border-width: 20px 0 20px 35px;
    border-color: transparent transparent transparent #ffffff;
}

.video_block-images img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s;
}

.video_block-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.video_block-text {
    color: #252c26;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
}

.video_block-link {
    padding: 9px 24px;
    border: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    margin-top: 15px;
}

/*VIDEO*/


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    background: red;
    font-size: xx-large;
}





